<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8">
<title>curso springboot</title>

<!-- Adicionando JQuery -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- Compiled and minified CSS CDN-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript CDN-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</head>
<body>

	<h3>Spring Boot + Thymeleaf + Materialize CSS Design</h3>
	<br>
	<h5>Cadastro de Pessoa</h5>	
	<br>
		<!-- validação de mensagens -->
		<div th:each="m: ${msg}">
			<span th:text="${m}"></span>
		</div>
	<br>
	<div class="row">
	
    <form id="formPessoa" class="col s12 card-panel teal blue-grey lighten-4" 
    	action="salvarpessoa" method="post" th:object="${pessoaObject}" style="font-weight: bold; font-size: 20px;">
    
      <p>Dados da Pessoa </p>
    
      <div class="row">
        <div class="input-field col s2">
        	<label for="codigo">Código:</label>
			<input name="codigo" type="text" readonly="readonly" th:field="*{codigo}">
       </div>
      </div>
      
      <div class="row">
        <div class="input-field col s6">
        	<input id="nome" type="text" name="nome" class="validate" th:field="*{nome}">
			<label for="nome">Nome:</label>
       </div>
       
       <div class="input-field col s3">
        	<input id="cpf" type="text" name="cpf" class="validate" th:field="*{cpf}">
			<label for="cpf">CPF:</label>
       </div>
      </div>
      
      <div class="row" >
        <div class="input-field col s1" sec:authorize="hasRole('ROLE_CAIXA')">
        	<input id="idade" type="text" name="idade" class="validate" th:field="*{idade}">
			<label for="idade">Idade:</label>
       </div>
       
        <div class="input-field col 3">
			<input id="telefone" type="text" name="telefone" class="validate" th:field="*{telefone}">
			<label for="telefone">Telefone:</label>
       </div>
       
       <div class="input-field col s5">
          <input id="email" type="email" class="validate" name="email" th:field="*{email}">
          <label for="email">Email:</label>
        </div>
        
        <div class="input-field col s2">
        	<label>Sexo:</label>
	        <select class="browser-default"  th:field="*{sexo}">
	          <option value="" disabled selected>Selecione</option>
	          <option value="Masculino" th:text="Masculino">
	          <option value="Feminino" th:text="Feminino">
	        </select>
        </div>
        
      </div>
      
      <p>Dados do Endereço </p>
      
      <div class="row">
      	<div class="input-field col s1">
      		<label for="cep">Cep:</label>
        	<input name="cep" type="text" id="cep" value="" size="10" maxlength="8" th:field="*{cep}"
        	onblur="consultarCep();"/>
      	</div>
      	
      	<div class="input-field col s5">
        	<input name="rua" type="text" id="rua" size="60" th:field="*{rua}"/>
        	<label for="rua">Logradouro:</label>
      	</div>
      	
      	<div class="input-field col s1">
      		<input name="numero" type="text" id="numero" size="10" th:field="*{numero}"/>
        	<label for="numero">Número:</label>
      	</div>
      	
      	<div class="input-field col s4">
      		<input name="bairro" type="text" id="bairro" size="40" th:field="*{bairro}"/>
        	<label for="bairro">Bairro:</label>
      	</div>
      </div>
      
      <div class="row">
      	<div class="input-field col s6">
        	<input name="cidade" type="text" id="cidade" size="40" th:field="*{cidade}"/>
        	<label for="cidade">Cidade:</label>
      	</div>
      	
      	<div class="input-field col s2">
        	<input name="uf" type="text" id="uf" size="2" th:field="*{uf}"/>
        	<label for="uf">Estado:</label>
      	</div>
      	
      	<div class="input-field col s2">
        	<input name="ibge" type="text" id="ibge" size="8" th:field="*{ibge}"/>
        	<label for="ibge">IBGE:</label>
      	</div>
      </div>
      
      <div class="row">
      	<div class="input-field col s6">
      		<button class="btn waves-effect waves-light" type="submit">
      		<i class="material-icons left">save</i>Salvar</button>
      		
      		<button class="btn waves-effect waves-light" type="submit" onclick="document.getElementById('formPessoa').reset();">
      		<i class="material-icons left">add_box</i>Novo</button>
      	</div>
      </div>
    </form>
    
  </div>
  
  <br>
  <br>
  
  <fieldset style="border: 2px solid; font-weight: bold;">
  <legend>Campo de Pesquisa</legend>
  
	  <form action="pesquisarpessoa" method="post" class="col s12 card-panel teal blue-grey lighten-4">
	  	
	  	<div class="row">
	  	
	      	<div class="input-field col s4">
			  	<input id="nomePessoa" type="text" name="nomePessoa" placeholder="Buscar..."  class="validate">
			  	<label for="nomePessoa" style="font-size: 20px;">Pesquisar por nome: </label>
			</div>
			
			<div class=".input-field col s2">
			  	<label for="sexoPessoa" class="active" style="font-size: 20px;">Pesquisar por sexo:</label>
			  	<select class="browser-default" name="sexoPessoa" id="sexoPessoa">
			      <option value="">Todos</option>
			      <option value="Masculino" th:text="Masculino">
	          	  <option value="Feminino" th:text="Feminino">
			    </select>
			</div>
			
		</div>
	  	
	  	<div class="row">
	      	<div class="input-field col s6">
	      		 <button class="btn waves-effect waves-light" type="submit" value="Pesquisar">Pesquisar
				    <i class="material-icons left">search</i>
				 </button>
				 
				 <a class="btn waves-effect waves-light" href="/listperson">Listar	Pessoas
				 	<i class="material-icons left">list</i>
				 </a>
	
			</div>	
	    </div>
	  </form>
	  
  </fieldset>
  
  <br>	  
  <br>	  
  
  <table class="responsive-table striped card-panel teal blue-grey lighten-4">
	
		<thead>
			<tr>
				<th>CÓDIGO</th>
				<th>NOME</th>
				<th>CPF</th>
				<th>IDADE</th>
				<th>TELEFONE</th>
				<th>E-MAIL</th>
				<th>ATUALIZAR</th>
				<th>EXCLUIR</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each = "pessoa: ${pessoas}">
				<td><a th:href="@{/fones/{codigopessoa}(codigopessoa=${pessoa.codigo})}"><span th:text = "${pessoa.codigo}"></span></a></td>
				<td th:text = "${pessoa.nome}"></td>
				<td th:text = "${pessoa.cpf}"></td>
				<td th:text = "${pessoa.idade}"></td>
				<td th:text = "${pessoa.telefone}"></td>
				<td th:text = "${pessoa.email}"></td>
				
				<td>
				<a class="waves-effect waves-light btn-small"
					th:href="@{/atualizarpessoa/{codigopessoa}(codigopessoa=${pessoa.codigo})}">Atualizar</a>
				</td>
				
				<td>
				<a class="waves-effect waves-light btn-small"
					th:href="@{/excluirpessoa/{codigopessoa}(codigopessoa=${pessoa.codigo})}">Excluir</a>
				</td>
			</tr>
		</tbody>
	</table>
	
	<script type="text/javascript">
	
	$(document).ready(function() {

        function limpa_formulário_cep() {
            // Limpa valores do formulário de cep.
            $("#cep").val("");
            $("#rua").val("");
            $("#bairro").val("");
            $("#numero").val("");
            $("#cidade").val("");
            $("#uf").val("");
            $("#ibge").val("");
        }
        
        //Quando o campo cep perde o foco.
        $("#cep").blur(function() {

            //Nova variável "cep" somente com dígitos.
            var cep = $(this).val().replace(/\D/g, '');

            //Verifica se campo cep possui valor informado.
            if (cep != "") {

                //Expressão regular para validar o CEP.
                var validacep = /^[0-9]{8}$/;

                //Valida o formato do CEP.
                if(validacep.test(cep)) {

                    //Preenche os campos com "..." enquanto consulta webservice.
                    $("#rua").val("...");
                    $("#numero").val("...");
                    $("#bairro").val("...");
                    $("#cidade").val("...");
                    $("#uf").val("...");
                    $("#ibge").val("...");

                    //Consulta o webservice viacep.com.br/
                    $.getJSON("https://viacep.com.br/ws/"+ cep +"/json/?callback=?", function(dados) {

                        if (!("erro" in dados)) {
                            //Atualiza os campos com os valores da consulta.
                            $("#rua").val(dados.logradouro);
                            $("#numero").val(dados.numero);
                            $("#bairro").val(dados.bairro);
                            $("#cidade").val(dados.localidade);
                            $("#uf").val(dados.uf);
                            $("#ibge").val(dados.ibge);
                        } //end if.
                        else {
                            //CEP pesquisado não foi encontrado.
                            limpa_formulário_cep();
                            alert("CEP não encontrado.");
                            $('#cep').focus();
                        }
                    });
                } //end if.
                else {
                    //cep é inválido.
                    limpa_formulário_cep();
                    alert("Formato de CEP inválido.");
                }
            } //end if.
            else {
                //cep sem valor, limpa formulário.
                limpa_formulário_cep();
            }
        });
    });
	
	</script>
</body>
</html>