<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8">
<title>curso springboot</title>
<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- Compiled and minified CSS CDN-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript CDN-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</head>
<body>

	<h3>Spring Boot + Thymeleaf + Materialize CSS Design</h3>
	<br>
		<!-- validação de mensagens -->
		<div th:each="m: ${msg}">
			<span th:text="${m}"></span>
		</div>
	<br>
	<div class="row">
		<div class="col s6">
			<a href="/cadastropessoa" class="waves-effect waves-light btn"><i class="material-icons left">reply_all</i>Voltar</a>
			<a href="#" class="waves-effect waves-light btn"><i class="material-icons left">home</i>Início</a>
		</div>
	</div>
	
	<div class="card-panel teal blue-grey darken-1" style="font-weight: bold; font-size: 17px; color: #FFA500;">
	
	<fieldset style="border: 2px solid; font-weight: bold;">
	  <legend>Dados da Pessoa</legend>
	
		<div th:each="p:${pessoaObject}">
			<div class="row">
				<h6>Código: <span th:text="${p.codigo}"></span></h6>
				<h6>Nome: <span th:text="${p.nome}"></span></h6>
				<h6>CPF: <span th:text="${p.cpf}"></span></h6>
				<h6>Idade: <span th:text="${p.idade}"></span></h6>
				<h6>Sexo: <span th:text="${p.sexo}"></span></h6>
				<h6>Telefone: <span th:text="${p.telefone}"></span></h6>
				<h6>E-mail: <span th:text="${p.email}"></span></h6>
				<h6>Profissão: <span th:text="${p.profissao.nome}"></span></h6>
				<h6>Cargo: <span th:text="${p.cargo}"></span></h6>
			</div>
		</div>
		
	</fieldset>
		
	</div>
	
	<br>
	
	
		<center><h5>Cadastro de Telefones</h5></center>
		
			<form id="formTelefone" th:action="@{/addFonePerson/{pessoa_codigo}(pessoa_codigo=${pessoaObject.codigo})}" 
				method="post" class="card-panel teal blue-grey darken-1 col s12"
				onsubmit="return validarCampos();"
				style="font-weight: bold; font-size: 17px;">
				
				<fieldset style="border: 2px solid; font-weight: bold; color: #FFA500;">
	  			<legend>Dados do Telefone da Pessoa</legend>
			
				<div class="row">
					<div class="input-field col s2">
						<input type="text" class="validate" id="codigo" name="codigo" readonly="readonly">	
						<label for="codigo">Código:</label>
					</div>
				</div>
				
				<div class="row">
					<div class="input-field col s4">
						<input type="text" class="validate" id="tipo" name="tipo">	
						<label for="tipo">Tipo:</label>
					</div>
				</div>
				
				<div class="row">
					<div class="input-field col s4">
						<input type="text" class="validate" id="numero" name="numero">	
						<label for="numero">Número:</label>
					</div>
				</div>
				
				<div class="row">
					<div class="input-field col s6">
						<button class="btn waves-effect waves-light" type="submit">
							<i class="material-icons left">add</i>Adicionar
						</button>
	
						<button class="btn waves-effect waves-light" type="submit"
							onclick="document.getElementById('formTelefone').reset();">
							<i class="material-icons left">cancel</i>Cancelar
						</button>
					</div>
				</div>
				
			</fieldset>

		</form>
		
	
	<table class="responsive-table striped card-panel teal blue-grey darken-1">
	
		<thead style="color: #FFA500;">
			<tr>
				<th>CÓDIGO</th>
				<th>TIPO</th>
				<th>TELEFONE</th>
				<th>EXCLUIR</th>
			</tr>
		</thead>
		
		<tbody style="color: #000080; font-weight: bold;">
			<tr th:each = "fone: ${telefones}">
				<td th:text="${fone.codigo}"></td>
				<td th:text="${fone.tipo}"></td>
				<td th:text="${fone.numero}"></td>
				
				<td>
				<a class="waves-effect waves-light btn-small"
					th:href="@{/deleteFone/{codigotelefone}(codigotelefone=${fone.codigo})}">Excluir</a>
				</td>
				
			</tr>
		</tbody>
	</table>
		
	
    <script type="text/javascript">
    
    	/*validação dos campos tipo e número de telefone*/
		function validarCampos(){
			tipo = document.getElementById('tipo').value;
			numero = document.getElementById('numero').value;

			if(tipo === ''){
				alert('Tipo de telefone deve ser informado!');
				return false;
			} else if (numero === ''){
				alert('Número de telefone deve ser informado!');
				return false;
			}
			return true;
		}
    </script>
</body>
</html>