<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8">
<title>curso springboot</title>
<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- Compiled and minified CSS CDN-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript CDN-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</head>
<body>
	
	<div class="container">
	
		
	
	<!-- formulário de login -->
	<form th:action="@{/login}" method="post" class="col s12 card-panel teal blue-grey lighten-4">
	
		<div class="row">
			<div class="input-field col s12">
				<center><h2 style="color: blue;">Acesso ao Sistema</h2></center>
				<br>
				<h3 style="color: blue;">Área Restrita</h3>
			</div>
		</div>
	
		<div class="row">
			<div class="input-field col s12">
				<input id="username" type="text" name="username"  placeholder="Usuário" />
				<label for="username" style="font-size: 25px; border-bottom: 4px;">Usuário</label> 
			</div>
		</div>
		
		<div class="row">
			<div class="input-field col s12">
				<input id="password" type="password" name="password"  placeholder="Senha" />
				<label for="password" style="font-size: 25px; border-bottom: 4px;">Senha</label>
			</div>
		</div>
		
		<div class="row">
      		<div class="input-field col s5">
				<button class="btn waves-effect waves-light" type="submit" value="logar">Entrar
					<i class="material-icons left">input</i>
				</button>
			</div>
		</div>
		
	</form>
	
	</div>

</body>
</html>